<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap List Example</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="container mt-5">
    <!-- Unordered List -->
    <h2>Unordered List</h2>
    <ul class="list-group">
      <li class="list-group-item">Item 1</li>
      <li class="list-group-item">Item 2</li>
      <li class="list-group-item">Item 3</li>
    </ul>

    <!-- Ordered List -->
    <h2 class="mt-4">Profile Detail</h2>
    <ol class="list-group">
      {{range .Data}}
      <li class="list-group-item">Name: {{.Name}}</li>
      <li class="list-group-item">Name: {{.ID}}</li>
      <li class="list-group-item">Name: {{.Description}}</li>
      <li class="list-group-item">Name: {{.Email}}</li>
      <ul>
        <li class="list-group-item">Name: {{.MediaSocial.LinkedIn}}</li>
        <li class="list-group-item">Name: {{.MediaSocial.Instagram}}</li>
        <li class="list-group-item">Name: {{.MediaSocial.GitHub}}</li>
      </ul>
      <li class="list-group-item">Name: {{.About}}</li>
      {{end}}
    </ol>
  </div>

  <!-- Bootstrap JS and dependencies (optional for list functionality but useful for other features) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>


</html>