<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap List Example</title>
  <!-- Bootstrap CSS CDN -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

  <div class="container mt-5">
    <!-- Unordered List -->

    <!-- Ordered List -->
    <h2 class="mt-4">Profile Detail</h2>
    <ol class="list-group">
      <li class="list-group-item">ID: {{.Data.id}}</li>
      <li class="list-group-item">Name: {{.Data.name}}</li>
      <li class="list-group-item">Description: {{.Data.description}}</li>
      <li class="list-group-item">Email: {{.Data.email}}</li>
      <ul>
        <li class="list-group-item">Linked In: {{.Data.media_social.linked_in}}</li>
        <li class="list-group-item">Instagram: {{.Data.media_social.instagram}}</li>
        <li class="list-group-item">Github: {{.Data.media_social.git_hub}}</li>
      </ul>
      <li class="list-group-item">About: {{.Data.about}}</li>
    </ol>
  </div>

  <!-- Bootstrap JS and dependencies (optional for list functionality but useful for other features) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>


</html>